<div class="" >
  <div class="full-screen container-fluid bg-dark1">
    <div class="container">
      <app-services></app-services>
      <div class="row py-5 d-flex justify-content-center">
        <app-main-title></app-main-title>

        <div
          *ngFor="let serviceEl of services"
          class="d-flex justify-content-center py-lg-4 col-lg-auto offset-lg-1"
        >
          <app-service-card [service]="serviceEl"></app-service-card>
        </div>
      </div>
    </div>
  </div>
</div>
