<a [routerLink]="['/projects' ,'movies', movie.id]">
    <div class="poster hover-zoomin">
        <div class="gradient"></div>
        <a>
            <img [src]="movie.img" alt="" class="img-poster hover-zoomin">
        </a>
        <div class="poster-details d-flex justify-content-start">
            <div>

                <h5>{{movie.title}}</h5>
                <p class="text-muted">
                    {{movie.genre}}
                </p>
            </div>
        </div>

    </div>
</a>