<app-inner-poster *ngIf="posterClicked"></app-inner-poster>

<div class="container">
  <app-main-title
    title="Projects"
    text="some of my personal projects in multiple fields"
  ></app-main-title>
  <app-section-title>Movie Posters</app-section-title>
  <div class="row py-3 gx-md-3 gy-3">
    <div *ngFor="let posterEl of posters" class="col-auto">
      <app-poster-card
        [poster]="posterEl"
        (click)="onPosterClicked(true)"
      ></app-poster-card>
    </div>
  </div>
</div>
<!-- maybe a whole component? -->
<div class="row py-5 d-flex justify-content-center text-center">
  <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-8">
    <p class="text-muted">How could I help you?</p>

    <div class="d-grid">
      <button routerLink="/services" class="btn my-btn-outline">
        Services
      </button>
    </div>

    <div class="py-5">
      <app-follow-me></app-follow-me>
    </div>
  </div>
</div>
