.poster {
    width: 220px;
    height: 320px;
    max-width: 220px;
    max-height: 320px;
    overflow: hidden;
}

.poster img {
  height: 320px;
  /* position: absolute; */
  /* transition: ease 600ms; */
}

.poster:hover img {
    /* scale: calc(1.05); */

}

.poster:hover {
    filter: brightness(1.2);
}


